<a href="https://colab.research.google.com/github/SantoshKrDubey/Python_practice/blob/main/Pandas1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd 
import numpy as np

In [ ]:
df = pd.read_csv('/content/kohli_ipl.csv', index_col = 'match_no')
df.head()

          runs
match_no
1            1
2           23
3           13
4           12
5            1

In [ ]:
df2 = pd.read_csv('/content/bollywood.csv', index_col='movie')
df2.head()

                                                  lead
movie
Uri: The Surgical Strike                 Vicky Kaushal
Battalion 609                              Vicky Ahuja
The Accidental Prime Minister (film)       Anupam Kher
Why Cheat India                          Emraan Hashmi
Evening Shadows                       Mona Ambegaonkar

In [ ]:
df2.value_counts()

lead
Akshay Kumar        48
Amitabh Bachchan    45
Ajay Devgn          38
Salman Khan         31
Sanjay Dutt         26
                    ..
Kashmira Shah        1
Kartik Elangovan     1
Karisma Kapoor       1
Karan Sharma         1
Zulfi Sayed          1
Length: 566, dtype: int64

In [ ]:
df.count()

runs    215
dtype: int64

In [ ]:
df.sort_values(by='runs', ascending=False).head()

          runs
match_no
128        113
126        109
123        108
164        100
120        100

In [ ]:
# count 
df.count()

runs    215
dtype: int64

In [ ]:
# sum
df.sum()

runs    6634
dtype: int64

In [ ]:
df.mean()

runs    30.855814
dtype: float64

In [ ]:
df2.mode()

           lead
0  Akshay Kumar

In [ ]:
df.max()

runs    113
dtype: int64

In [ ]:
df2.max()

lead    Zulfi Sayed
dtype: object

In [ ]:
df.min()

runs    0
dtype: int64

In [ ]:
df.describe()

             runs
count  215.000000
mean    30.855814
std     26.229801
min      0.000000
25%      9.000000
50%     24.000000
75%     48.000000
max    113.000000

In [ ]:
# slicing

df[5:16]

          runs
match_no
6            9
7           34
8            0
9           21
10           3
11          10
12          38
13           3
14          11
15          50
16           2

In [ ]:
df2[-5:]

                                    lead
movie
Hum Tumhare Hain Sanam    Shah Rukh Khan
Aankhen (2002 film)     Amitabh Bachchan
Saathiya (film)             Vivek Oberoi
Company (film)                Ajay Devgn
Awara Paagal Deewana        Akshay Kumar

In [ ]:
# using dicts

student_dict = {
    'name':['Nitish','Ankit','Rupesh','Rishabh','Amit','Ankita'],
    'iq':[100,90,120,80,0,0],
    'marks':[80,70,100,50,0,0],
    'package':[10,7,14,2,0,0]
}

students = pd.DataFrame(student_dict)
students.set_index('name',inplace=True)
students

          iq  marks  package
name
Nitish   100     80       10
Ankit     90     70        7
Rupesh   120    100       14
Rishabh   80     50        2
Amit       0      0        0
Ankita     0      0        0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 215 entries, 1 to 215
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   runs    215 non-null    int64
dtypes: int64(1)
memory usage: 3.4 KB

In [ ]:
# astype
import sys
sys.getsizeof(df)

3456

In [ ]:
sys.getsizeof(df.astype('int16'))

2166

In [ ]:
# drop duplicates
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1500 entries, Uri: The Surgical Strike to Awara Paagal Deewana
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   lead    1500 non-null   object
dtypes: object(1)
memory usage: 23.4+ KB

In [ ]:
df2.drop_duplicates()

                                                  lead
movie
Uri: The Surgical Strike                 Vicky Kaushal
Battalion 609                              Vicky Ahuja
The Accidental Prime Minister (film)       Anupam Kher
Why Cheat India                          Emraan Hashmi
Evening Shadows                       Mona Ambegaonkar
...                                                ...
Sssshhh...                            Tanishaa Mukerji
Rules: Pyaar Ka Superhit Formula                Tanuja
Right Here Right Now (film)                      Ankit
Talaash: The Hunt Begins...              Rakhee Gulzar
The Pink Mirror                        Edwin Fernandes

[566 rows x 1 columns]

In [ ]:
df.duplicated().sum()

137

In [ ]:
# isnull
df.isnull().sum()

runs    0
dtype: int64

In [ ]:
df2.isnull().sum()

lead    0
dtype: int64

In [ ]:
#isin
df[(df == 49) | (df == 99)]
temp_df = df[df.isin([49,99])]
temp_df

          runs
match_no
1          NaN
2          NaN
3          NaN
4          NaN
5          NaN
...        ...
211        NaN
212        NaN
213        NaN
214        NaN
215        NaN

[215 rows x 1 columns]