In [ ]:
# Q1 swap the first and last numbers of a list

# 1. Using Function
def interchage(lst):
  if len(lst)>1:
    lst[0],lst[-1]=lst[-1],lst[0]
  return lst

lst = [3,4,2,5,1,6,8]
print(interchage(lst))

[8, 4, 2, 5, 1, 6, 3]

In [ ]:
# Q2. converting a list in tuple
list1 = [4,3,6,7,8,1]
convert = tuple(list1)
print(convert)
print(type(convert))

(4, 3, 6, 7, 8, 1)
<class 'tuple'>

In [ ]:
# Q3. Calculates the mean of numbers in a list given by user
num = int(input("Enter the number of Elements: "))

l = []

for i in range(1, num+1):
  element = int(input("Enter the Elements: "))
  l.append(element)

average = sum(l)/num

print("Mean of the Elements in list", round(average,2))

Enter the number of Elements: 6
Enter the Elements: 2
Enter the Elements: 8
Enter the Elements: 4
Enter the Elements: 8
Enter the Elements: 6
Enter the Elements: 7
Mean of the Elements in list 5.83

In [ ]:
# Q4. Dictionary
dictt = {i: i*i for i in range(3,9)}
print(dictt)

{3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [ ]:
# Q5. Find the sum of the elements in list
ele = [4,8,5,6,7,1]
result = 0
for i in ele:
  result = result + i

print(result)

31

In [ ]:
# Q6. Find the product of the elemnts in list
elements = [2,5,9]
rsult = 1
for i in elements:
  rsult = rsult*i

print(rsult)

90

In [ ]:
# Q7. reversing the list
lst1 = [4,3,5,6,2,7,5]
lst1.reverse()
print(lst1)

[5, 7, 2, 6, 5, 3, 4]

In [ ]:
# reverse using function
def reversing(lst1):
  rev_lst = lst1[::-1]
  return rev_lst

lst1 = [4,3,5,6,2,7,5]
print(reversing(lst1))

[5, 7, 2, 6, 5, 3, 4]

In [ ]:
# Q8. list with index
lst= [10,33,58,78,44,12]
for i, val in enumerate(lst):
  print(i,val)

0 10
1 33
2 58
3 78
4 44
5 12

In [ ]:
# Q9. Cumulative frequency of a list
list1 = [10,20,30,40,50]

sum = 0
result = []

for i in list1:
  sum = sum+i
  result.append(sum)
  print(result)
print('*'*50)
print(result)

[10]
[10, 30]
[10, 30, 60]
[10, 30, 60, 100]
[10, 30, 60, 100, 150]
**************************************************
[10, 30, 60, 100, 150]

In [ ]:
# Q10. Number of occurance in a list
lst = [4,2,5,8,4,2,1,5,5,4,8,7,3,1,3]
occ = []

for i in lst:
  if i not in occ:
    occ.append(i)
    print(i, "occured", lst.count(i), "times")

4 occured 3 times
2 occured 2 times
5 occured 3 times
8 occured 2 times
1 occured 2 times
7 occured 1 times
3 occured 2 times